.hero {
	min-height: calc(100vh - 98px);
	display: flex;
	flex-direction: column;
	padding: 0.8rem 1rem;
}

.hero .hero-content {
	flex: 1;
	color: var(--main-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero .hero-content h1 {
	margin-bottom: 0.8rem;
}

.hero .hero-content p {
	font-size: 1.4rem;
	font-weight: 400;
	text-align: justify;
	margin-bottom: 1rem;
}

.hero .hero-image {
	padding: 1rem 0;
}
